.putList-info
{
  margin-top:45px;

  >div
  {
    width: 100%;
    height: 101px;
    position: relative;
    border-bottom:1px solid #ddd;

    >div
    {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     right: 0;
    }
  }
  .slid-con
  {
    text-align: right;

    ul
    {
      width: 100%;
      height: 100%;
    }

    li
    {
      float: right;
      height:100%;
      width: 80px;
      color:#fff;
      text-align:center;
      line-height:100px;

      &:first-child +li +li
      {
        background-color:#7fc226;
      }
      &:first-child +li
      {
        background-color:#ff9e02;
      }
      &:first-child
      {
        background-color:#ff3b32;
      }
    }
  }

  .info-con
  {
    transition: all 0.5s ease;
    background: white;
    padding:10px;

    &.menu
    {
      transform:translateX(-240px);

      &:after
      {
        position:absolute;
        content:"";
        display:block;
        width: 8px;
        height: 8px;
        right:30px;
        top:44px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        border-top: 1px solid #666;
        border-left: 1px solid #666;
      }
    }

    >div
    {
      position:relative;
      padding-left:90px;

      .no
      {
        display:block;
        position:absolute;
        width:80px;
        height:18px;
        left:0;
        bottom:16px;
        text-align:center;
        font-size:14px;
        line-height:18px;
        color:#fff;
        background-color:rgba(255,158,2,0.6);
        z-index:2;
      }

      >span.img
      {
        position:absolute;
        display:block;
        width:80px;
        height:auto;
        left:0;
        top:0;
        text-align:center;
        z-index:1;

        .date
        {
          display:block;
          line-height:28px;
          font-size:12px;
          color:#666;
        }
      }

      img
      {
        display:inline-block;
        height:60px;
        vertical-align:top;
      }

      .ad-satus
      {
        position:absolute;
        width:52px;
        height:18px;
        display:block;
        font-size:10px;
        top:0;
        right:0;
        text-align:center;
        line-height:16px;
        border-radius:2px;

        &.s1
        {
          color:#bfbfbf;
          background-color:#efefef;
          border:1px solid #e6e6e6;
        }
        &.s2
        {
          color:#fff;
          background-color:#ff973b;
          border:1px solid #ee8422;
        }
        &.s3
        {
          color:#fff;
          background-color:#85c62f;
          border:1px solid #77c412;
        }
      }
    }

    .led_state
    {

      display:block;
      position:absolute;
      right:0;
      bottom:0;
      color:#ccc;
      font-size:14px;
      line-height:14px;

      &:before
      {
        display:inline-block;
        content:"";
        width:14px;
        height:14px;
        margin-right:4px;
        border-radius:50%;
        background-color:#ccc;
        vertical-align:top;
      }
      &.on
      {
        color:#7fc226;

        &:before
        {
          background-color:#7fc226;
        }
      }
    }
  }

  .content
  {
    height:80px;
    padding-right:65px;
    .tit
    {
      display:block;
      font-size:16px;
      color:#666;
      color:#028dea;
      line-height:16px;
      padding-bottom:6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .num
    {
      display:block;
      font-size:13px;
      color:#666;
      line-height:20px;
      padding-bottom:2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p
    {
      margin:0;
      font-size:14px;
      color:#b2b2b2;
      line-height:16px;
      max-height:32px;
      overflow:hidden;
    }
  }
}

.putList-info
{
  .meng
  {
    .info-con
    {
      position:absolute;

      &:after
      {
        position:absolute;
        content:"";
        display:block;
        clear:both;
        width:100px;
        height:100px;
        background-color:#ccc;
        opacity:0.5;
        top:0;
        right:0;
      }
    }
  }
}
